<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:property-placeholder location="application.properties" />

	<bean id="myFortuneServiceBean" class="com.spring.learning.HappyFortuneService"></bean>

	<!-- Constructor Injection (Dependency Injection ) -->

	<bean id="myBean" class="com.spring.learning.FootballCoach">
		<constructor-arg ref="myFortuneServiceBean"></constructor-arg>
	</bean>

	<!-- Setter Injection (Dependency Injection ) -->

	<bean id="setterInjection" class="com.spring.learning.BasketballCoach">
		<property name="fortuneService" ref="myFortuneServiceBean" />

		<!-- Literal Injection -->

		<property name="emailId" value="${email}" />
		<property name="team" value="${team}" />

	</bean>

</beans>